*{margin: 0;
padding:0 ;
box-sizing: border-box;}
body{background-color:rgb(208, 208, 208) ;
}
main{ height: 1000px;
position: relative;    
border: solid red; position: relative;}
header{border: solid yellow;
height: 380px;
background-image: url(./images/image-hero-mobile.jpg);
background-size:cover;
background-repeat: no-repeat;
padding: 20px;
display: flex;
justify-content: space-between;
}
.logo{border: solid;
    width: 230px;
    height: 40px;
background-image: url(./images/logo.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.menubut{border: solid 
;
width: 50px;
height: 50px;
background-image: url(./images/icon-hamburger.svg);
background-position: center;
background-repeat: no-repeat;
background-size: 30px;
} 
.pagemenu{border-radius: 10px;
    position: absolute;
width: 255px;
height: 0;
background-color: white;
right: 30px;
top: 90px;
box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
-webkit-box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
visibility: hidden;
transition-delay: 0.2s;
}
menu{display: flex;
flex-direction: column;
padding: 20px;
gap: 20px;
font-size: 30px;
}
.menubut:hover ~ .pagemenu{visibility: visible;
    height: 189px;
}


.menubut:hover{visibility: visible;}
.menubut:hover{background-image: url(./images/icon-close-menu.svg);}

.contbox1{background-color: white;
border: solid;
height: 280px;
width: 400px;
right:40px;
top: 370px;
position: absolute;
padding: 15px;
}
.imglogo{position: absolute;
right: 167px;
bottom: 247px;
}