*{margin: 0;
padding:0 ;
box-sizing: border-box;}
body{background-color:rgb(208, 208, 208) ;
}
main{
   
}
header{border: solid yellow;
height: 380px;
background-image: url(./images/image-hero-mobile.jpg);
background-size:cover;
background-repeat: no-repeat;
padding: 20px;
display: flex;
justify-content: space-between;
}
.logo{border: solid;
    width: 230px;
    height: 40px;
background-image: url(./images/logo.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.menubut{border: solid 
;
width: 50px;
height: 50px;
background-image: url(./images/icon-hamburger.svg);
background-position: center;
background-repeat: no-repeat;
background-size: 30px;
} 
.pagemenu{border-radius: 5px;
    position: absolute;
width: 255px;
height: 0;
background-color: white;
right: 30px;
top: 90px;
box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
-webkit-box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 9px 0px 200px rgba(0,0,0,0.48);
visibility: hidden;
transition-delay: 0.9s;
}
menu{display: flex;
flex-direction: column;
padding: 20px;
gap: 20px;
font-size: 30px;
}
.menubut:hover ~ .pagemenu{visibility: visible;
    height: 189px;
}


.menubut:hover{visibility: visible;}
.menubut:hover{background-image: url(./images/icon-close-menu.svg);}
.downbox{
    top: 330px;
    right:40px;
    position: absolute;
display: flex;
flex-direction: column;
gap:20px ; 
}

.contbox1{background-color: white;
height: 280px;
width: 400px;
border-radius: 20px;
position: relative;
}
.imglogo{position: absolute;
right: 167px;
bottom: 247px;
}
.boxtext{
    padding: 5px;
margin-top: 40px;
display:flex;
flex-direction: column;
align-items: center;
gap: 15px;
}
.gentext,.pbox{text-align: center;}
.buttons{display: flex;
align-items: center;
gap: 10px;
}
button{background-color:#3bb4ab;
color: white;
border: none;
border-radius: 20px;
height:50px;
width: 160px;
font-size: 15px;
}
.contbox2{background-color: white;
    height: 480px;
    width: 400px;
    border-radius: 20px;
    }
    .nomeberbox{display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    }

 .nom1,.nom2,.nom3{
text-align: center;
padding: 20px;
}   
.nom1,.nom2{border-bottom:solid rgb(220 220 220) ;
}
.loading{background-color: rgb(220 220 220);
width: 250px;
height: 15px;
display: flex;
border-radius: 5px;
}
.loading2{background-color:#3bb4ab;
    width: 150px;
    height: 15px;
    border-radius: 5px;
}
.contbox3{background-color: white;
    height: 900px;
    width: 400px;
    border-radius: 20px;}

